@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');

body {
    font-family: 'Goblin One', serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
}

.wrapper {
    background-image: url("./image/hpbackground.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem; 
    width: 100%; 
    max-width: 2000px; 
    box-sizing: border-box;
    margin-bottom: 0px;
    height: 100vh; 
    @media (max-width: 2000px) {
        height: auto; 
    }
}

.container {
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    margin-top: 50px;
    color: rgb(132, 20, 20);
    text-align:center;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 25px;
}
.main-wrapper {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(4, 34, 100, 0.958);
    height: 67vh; 
}

h2 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 360px;
    margin-bottom: 50px;
    padding: 0px; 
    background-color: rgba(173, 173, 155, 0.547)
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: -30px;
    padding: 0px; 
    background-color: rgba(173, 173, 155, 0.547)
}

.start {
    color:gold;
    background-color: rgb(19, 47, 129);
    text-align: center;
    font-size: 20px;
    padding: 20px 40px;
    margin-top: 20px;
    border-radius: 6px;
    max-width: 257px;
    width: 100%;
    display: inline-block;
}

@media (max-width: 480px) {
    .main-wrapper {
        margin-left: 0;
    }
    .wrapper {
        height: 113vh;
        padding: 1rem;
    }
    h1 {
        font-size:22px;
    }

    h2 {
        font-size: 15px;
        margin-top: 190px; 
        margin-bottom: -50px; 
        text-align: center;
        padding: 5px;
    }
    h3 {
        font-size: 15px;
        margin-top: 80px; 
        margin-bottom: 10px; 
        text-align: center;
        padding: 5px;
    }

    .start {
        font-size: 16px; 
        margin-top: 0px; 
        text-align: center;
        border-radius: 200px;
        margin-bottom: -100px;
    }
}