a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
}

.wrapper {
    background-image: url("./image/hpbackground.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem; 
    width: 100%; 
    max-width: 2000px; 
    box-sizing: border-box;
    margin-bottom: 0px;
    height: 100vh; 
    @media (max-width: 2000px) {
        height: auto; 
    }
}

.container {
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    margin-top: 50px;
    color: rgb(132, 20, 20);
    text-align:center;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 25px;
}
.main-wrapper {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(132, 20, 20);
    height: 67vh; 
}

h2 {
    font-size: 60px;
    font-weight: bold;
    margin-top: 400px;
    margin-bottom: 50px;
    padding: 0px; 
    background-color: rgba(173, 173, 155, 0.547)
}

h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 10px; 
}

.start {
    color: brown;
    background-color: gold;
    text-align: center;
    font-size: 26px;
    padding: 20px 40px;
    margin-top: 20px;
    border-radius: 6px;
    max-width: 200px;
    width: 100%;
    display: inline-block;
}

