@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');

body {
    font-family: 'Goblin One', serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
}


h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
    color: gold;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: rgba(220, 111, 23, 0.951);
}

.wrapper {
    background-image: url("./image/Hogwarts.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem; 
    width: 100%; 
    max-width: 1900px; 
    box-sizing: border-box;
    height: 100vh;
}
.container {
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
}

.main-wrapper {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(126, 206, 222);
    background-color:rgb(12, 12, 94);
    padding: 20px 40px;
    margin-top: 100px;
}

.question {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    margin: 20px 0;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.question li {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: gold solid 2px;
    padding: 10px;
    background-color: rgb(83, 30, 176);
    cursor: pointer;
    color: orange;

    }

    .question #question-active {
        background-color: gold;
        border: 2px solid brown;
        color: brown;
    }

    .question .answer-active {
        background-color: green;
        transition: 0.5s;
    }

    .question .wrong-active {
        background-color: red;
        transition: 0.5s;
    }

    #timer-display {
        margin-top: 20px;
        margin-bottom: 20px;
        color: greenyellow;
    }

    @media (max-width: 480px) {
        .question {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);
            font-size: 1px;
        }
        .question li {
            font-size: 10px;
        }
        h1 {
            font-size: 20px;
    }
}